LMS_API_URL=https://class.genziitian.in

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InprZ3VzbWRuaHBzZW9ienRvenh0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE1MzYxOSwiZXhwIjoyMDg4NzI5NjE5fQ.qqPvuSdiKxiXz2g2-kXchFu0a9gHmFncogHpAliFpwQ

VITE_SUPABASE_URL=https://zkgusmdnhpseobztozxt.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InprZ3VzbWRuaHBzZW9ienRvenh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNTM2MTksImV4cCI6MjA4ODcyOTYxOX0.XmT3MIoSywyo2x4P3jtp1QX7z99JTzalwBTSTbSwIok

VITE_RAZORPAY_KEY_ID=

RAZORPAY_SECRET=

EXTERNAL_ENROLL_SECRET=4cfe3b461e35e29be942d83e9d7a946fa98f9bc578512e1540462568fe898948
